html,
body,
#app {
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 1366px;
}

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 14px;
}

.el-card {
    box-sizing: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-pagination {
    margin-top: 15px;
}

.el-steps {
    margin: 15px 0;
}

.el-step__title {
    font-size: 13px;
}

.ql_editor p {
    min-height: 300px;
}